# Cached Files
__pycache__
.coverage
.pytest_cache/
.python-version

# VSCode IDE
.vscode/

# Pycharm Settings
.idea
.DS_Store
*.xml

# Script to Set Env vars
/env.bat

# Python virtual Environment
venv/
venv1/
.venv

# Vendored packages for application
vendor/

# BDD-acceptance-tests
screen_shots/
tests/acceptance-tests/docker_results/

Pipfile